In [48]:
import sqlalchemy
import pandas as pd
import numpy as np
import functools
engine = sqlalchemy.create_engine("mysql://admin:M0ZtDjLgAmj8D0LzAksT@cx4242.c55yrwcgiytm.us-east-1.rds.amazonaws.com/cx4242")
conn = engine.connect()
def read_sql(stmt):
    """ create a table from the sql statement
    :param conn: Connection object
    :param create_table_sql: sql statement
    :return:
    """
    engine = sqlalchemy.create_engine("mysql://admin:M0ZtDjLgAmj8D0LzAksT@cx4242.c55yrwcgiytm.us-east-1.rds.amazonaws.com/cx4242")
    with engine.connect() as conn:   
        try:
            r = pd.read_sql(stmt, conn)
            return r

        except Error as e:
            print(e)

In [55]:
read_sql("describe uber")

               Field       Type Null  Key Default Extra
0               year    int(11)  YES  MUL    None
1              month    int(11)  YES  MUL    None
2                day    int(11)  YES  MUL    None
3               hour    int(11)  YES         None
4               time  timestamp  YES         None
5         segment_id   char(40)  YES         None
6  start_junction_id   char(40)  YES  MUL    None
7    end_junction_id   char(40)  YES         None
8     speed_mph_mean     double  YES         None
9   speed_mph_stddev     double  YES         None

#  Cost functions

In [46]:
def calories_burnt_biking(weight, distance_biked):
    
    cals_burned = 0
    
    if weight>= 125:
        cals_burned = round((40 + ((weight-125) * 0.32)) * distance_biked)
    else:
        cals_burned = round((25 + ((weight-75) * 0.32)) * distance_biked)
        
    return str(cals_burned)


print(calories_burnt_biking(150,2.7) + " calories burned")

130 calories burned

In [45]:
def co2_emissions_per_ride(distance_ride):
    
    co2 = round(404 * distance_ride)
    return str(co2)
    
print(co2_emissions_per_ride(2.7) + " gram CO\u2082")

1091 gram COâ‚‚

In [ ]:
def uber_ride_time_spent(start_junction_id, end_junction_id, speed_mph_mean):
    '''
    Use OSM Nodes and connect to Uber table to find time spent
    '''
    pass

# Specific Map Based Function

In [ ]:
def get_nearby_starting_uber_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been starting in the area during time
    '''
    pass

In [ ]:
def get_nearby_ending_uber_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been ending in the area during time
    '''
    pass

In [ ]:
def get_nearby_current_uber_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been in the area during time at all (transit, starting, ending)
    '''

In [ ]:
def get_nearby_starting_citibike_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been starting in the area during time
    '''
    pass

In [ ]:
def get_nearby_ending_citibike_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been ending in the area during time
    '''
    pass

In [ ]:
def get_nearby_current_citibike_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been in the area during time at all (transit, starting, ending)
    '''