In [1]:
import sqlalchemy
import pandas as pd
import numpy as np
import functools
engine = sqlalchemy.create_engine("mysql://admin:M0ZtDjLgAmj8D0LzAksT@cx4242.c55yrwcgiytm.us-east-1.rds.amazonaws.com/cx4242")
conn = engine.connect()
def read_sql(stmt):
    """ create a table from the sql statement
    :param conn: Connection object
    :param create_table_sql: sql statement
    :return:
    """
    engine = sqlalchemy.create_engine("mysql://admin:M0ZtDjLgAmj8D0LzAksT@cx4242.c55yrwcgiytm.us-east-1.rds.amazonaws.com/cx4242")
    with engine.connect() as conn:   
        try:
            r = pd.read_sql(stmt, conn)
            return r

        except Error as e:
            print(e)

In [2]:
read_sql("show tables")

  Tables_in_cx4242
0        OSM_nodes
1         OSM_ways
2         citibike
3             uber

#  Cost functions

In [ ]:
def calories_burnt_biking(bmi, distance_biked, average speed):
    '''
    Shows the calories burnt for a given BMI
        Alter method as necessary
    '''
    pass

In [ ]:
def calories_burnt_uber(bmi, time_on_uber):
    '''
    Shows the calories burnt for a given BMI while on Uber
        Look up basal metabolic rates for BMI
    '''
    pass

In [ ]:
def co2_emissions_per_ride(distance_ride):
    '''
    Given distance in miles, how much co2 emissions was emitted
    '''
    pass

In [ ]:
def uber_ride_time_spent(start_junction_id, end_junction_id, speed_mph_mean):
    '''
    Use OSM Nodes and connect to Uber table to find time spent
    '''
    pass

# Specific Map Based Function

In [ ]:
def get_nearby_starting_uber_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been starting in the area during time
    '''
    pass

In [ ]:
def get_nearby_ending_uber_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been ending in the area during time
    '''
    pass

In [ ]:
def get_nearby_current_uber_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been in the area during time at all (transit, starting, ending)
    '''

In [ ]:
def get_nearby_starting_citibike_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been starting in the area during time
    '''
    pass

In [ ]:
def get_nearby_ending_citibike_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been ending in the area during time
    '''
    pass

In [ ]:
def get_nearby_current_citibike_rides(latitude, longitude, max_radius, time):
    '''
    Find all rides in a circle that would have been in the area during time at all (transit, starting, ending)
    '''